.App {
  text-align: center;
}

#styled-button-one {
  background-color: #C27BA0;
  text-decoration: none;
  color: white !important;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  border: none;
  width: 100px;
}

#styled-button-two {
  background-color: lightgray;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  color: white !important;
  border: none;
  width: 100px;
}

.login-form h2 {
  align-self: flex-start;
  margin: 0;
}

.login-form {
  margin: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  gap: 1em;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  gap: 1em;
}

.login-form input {
  width: 300px;
  height: 30px;
}

.register-form {
  background-color: lightgray;
  padding: 2em;
  height: 500px;
  width: 900px;
  margin: 0em 20em;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  gap: 1em;
}

.register-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  gap: 1em;
  margin-top: 2.5em;
}

.register-form input {
  width: 300px;
  height: 30px;
}

.register-form h2 {
  align-self: center;
  margin: 0;
}

.promo-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.promo-pic h2 {
  align-self: flex-start;
  margin: 0em 0em 0.5em;
}

.name {
  display: flex;
  gap: 10px;
}

.name input {
  width: 145px;
}

.terms-checkbox {
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.terms-checkbox input {
  height: 15px;
}

.country-section {
  display: flex;
  gap: 0.5em;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
}
