.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .search-icon {
    position: relative;
    margin-right: -25px;
    padding: 0;
    background-color: white;
    border: none;
  }

  .header h1 {
    margin: 0;
    color:#C27BA0;
  }

  .search-container {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .header form {
    width: 600px;
  }

  .header input {
    background-color: white;
    width: 500px;
    height: 35px;
    border-radius: 5px;
    padding: 0px 30px;
    font-size: 15px;
    font-family: Helvetica;
  }

  .icon {
    position: relative;
  }
  
  .nav-link {
    text-decoration: none;
    align-self: center;
    color: white;
  }
  
  .auth {
    display: flex;
    justify-content: flex-end;
  }

  .auth-buttons {
    display: flex;
    width: 210px;
    justify-content: space-between;
  }

  .wishlist-shoppingbag button{
    background-color: white;
    border: none;
    height: 30px;
  }